

<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice</title>
    <meta name="description" content="free code camp">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        File Metadata Microservice
      </h1>
    </header>

    <main>
      <p class="bold">To Begin</p>
      <p>Choose a file:</p>
      
        <form id="uploadForm" enctype="multipart/form-data" method="post">
		<input type="file" name="userFile" >          
		<input type="submit" value="Upload File" name="submit">
	</form>
     
      
    </main>

    <footer>
     
    </footer>

 
  </body>
</html>
